@font-face {
    font-family: 'SF-PRO';
    font-display: swap;
    src: local('SF-PRO'), local('SF-PRO'),
        url('../fonts/SF-Pro-Display-Black.otf') format('truetype');
    font-weight: 1000;
    font-stretch: semi-expanded;
    font-style: normal;
}

@font-face {
    font-family: 'SF-PRO';
    font-display: swap;
    src: local('SF-PRO'), local('SF-PRO'),
        url('../fonts/SF-Pro-Display-Medium.otf') format('truetype');
    font-weight: 510;
    font-stretch: semi-expanded;
    font-style: normal;
}

@font-face {
    font-family: 'SF-PRO';
    font-display: swap;
    src: local('SF-PRO'), local('SF-PRO'), url('../fonts/SF-Pro-Text-Bold.otf') format('truetype');
    font-weight: 700;
    font-stretch: semi-expanded;
    font-style: normal;
}

@font-face {
    font-family: 'SF-PRO';
    font-display: swap;
    src: local('SF-PRO'), local('SF-PRO'),
        url('../fonts/SF-Pro-Text-Regular.otf') format('truetype');
    font-weight: 400;
    font-stretch: semi-expanded;
    font-style: normal;
}

@font-face {
    font-family: 'SF-PRO';
    font-display: swap;
    src: local('SF-PRO'), local('SF-PRO'),
        url('../fonts/SF-Pro-Text-Semibold.otf') format('truetype');
    font-weight: 650;
    font-stretch: semi-expanded;
    font-style: normal;
}

body {
    font-family: 'SF-PRO';
    font-size: 18px;
    font-weight: 410;
    color: #000;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

a {
    color: inherit;
}

._lock {
    overflow: hidden;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

main {
    position: relative;
    flex: 1;
}

[class*='__container'] {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
}

/*--------------------header--------------------*/
.header {
    position: relative;
    z-index: 10;
    padding: 30px 0;
    background: #232531;
}
.header::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #d9d9d9;
    opacity: 0.1;
}
.header__container {
    max-width: 1240px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 10px;
}
.header__logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}
.header__menu-burger {
}
.header-burger {
}
.header-burger__list {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.header-burger__link {
    display: block;
    position: relative;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.84px;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    cursor: pointer;
}
@media (min-width: 768px) {
    .header-burger__link:hover {
        color: #41a4df;
    }
}
.menu-burger__icon {
}

.icon-menu {
    display: none;
}

@media (max-width: 768px) {
    .header {
        padding: 20px 0;
    }
    .header-burger__link {
        position: static;
    }
}

@media (max-width: 425px) {
    .header__logo > img {
        width: 186px;
        height: 21px;
    }
}

/*--------------------burger--------------------*/

.icon-menu {
    display: none;
}

@media (max-width: 900px) {
    .header-burger__list {
        display: none;
        overflow-y: auto;
    }
    .menu-burger__icon {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 10;
        background: transparent;
        border: none;
    }

    .menu-burger__icon span,
    .menu-burger__icon::before {
        content: '';
        transition: all 0.3s ease 0s;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        right: 0;
        top: 70%;
        transform: translateY(-50%);
    }

    .menu-burger__icon::before {
        top: 8px;
    }

    .menu-burger__icon._active span {
        transform: rotate(45deg);
        top: 50%;
    }

    .menu-burger__icon._active::before {
        transform: rotate(-45deg);
        top: 15px;
    }

    .header__menu-burger {
        z-index: 9;
        left: -100%;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        overflow: auto;
        background: #232531;
        padding: 100px 15px 50px 15px;
        transition: left 0.3s ease 0s;
    }
    .header__menu-burger::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100px;
        left: -100%;
        top: 0;
        background: #232531;
    }
    nav.header__menu-burger.header-burger._active {
        left: 0 !important;
    }
    nav.header__menu-burger.header-burger._active::before {
        left: 0 !important;
    }
    nav.header__menu-burger.header-burger._active > ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 90px;
    }

    nav.header__menu-burger.header-burger._active > ul > li > a {
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    nav.header__menu-burger.header-burger._active > ul > li > a {
        font-size: 18px;
    }
}

/*--------------------/burger--------------------*/

/*--------------------/header--------------------*/

/*--------------------hero--------------------*/

.hero {
    position: relative;
    padding: 106px 0 120px 0;
    background: #232531;
}
.hero__container {
}
.hero__content {
    max-width: 640px;
}
.hero__title {
    font-size: 46px;
    color: #fff;
    font-weight: 760;
    line-height: 130%;
    margin-bottom: 40px;
}
.hero__title > span {
    color: #08c;
    display: block;
}
.hero__list-description {
    color: #fff;
    margin-bottom: 60px;
}
.hero__list-item {
    position: relative;
    font-weight: 510;
    line-height: 160%;
    padding-left: 28px;
}
.hero__list-item::before {
    content: '';
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #fff;
    left: 7px;
    top: 12px;
}
.hero__list-item:not(:last-child) {
    margin-bottom: 40px;
}
.hero__actions {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.hero__actions-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 760;
    color: #fff;
    background: #08c;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.hero__actions-button:hover {
    transform: scale(1.015);
    background: rgb(5, 122, 180);
}
.hero__action-info {
    font-size: 15px;
    font-weight: 590;
    line-height: 130%;
    color: #0088cc;
}
.hero__img {
    position: absolute;
    right: 0;
    bottom: 0;
}
.hero__img > img {
    /* display: none; */
    max-width: 764px;
    max-height: 285px;
}

@media (max-width: 1050px) {
    .hero__container {
        padding-bottom: 200px;
    }
    .hero__content {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .hero__img > img {
        display: block;
    }
    .hero__img > svg {
        display: none;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 50px 0 0 0;
    }
    .hero__img {
        bottom: -4px;
    }
}

@media (max-width: 650px) {
    .hero {
        padding: 30px 0 0 0;
    }
    .hero__title {
        font-size: 21px;
        font-weight: 760;
        line-height: 130%;
        margin-bottom: 30px;
    }
    .hero__list-description {
        margin-bottom: 30px;
    }
    .hero__list-item {
        font-size: 14px;
        font-weight: 510;
        line-height: 140%;
    }
    .hero__list-item::before {
        top: 6px;
    }
    .hero__list-item:not(:last-child) {
        margin-bottom: 26px;
    }
    .hero__actions {
        gap: 15px;
    }
    .hero__actions-button {
        padding: 9px 15px;
        font-size: 14px;
        font-weight: 800;
    }
    .hero__img > img {
        max-width: 481px;
        max-height: 179px;
        bottom: -4px;
    }
}
/*--------------------/hero--------------------*/

/*--------------------info--------------------*/

.info {
    padding: 90px 0;
}
.info__container {
}
.info__item {
    display: flex;
    align-items: center;
    gap: 60px;
}
.info__img {
}
.info__body {
}
.info__top {
}
.info__title {
    font-size: 27px;
    font-weight: 1000;
    line-height: 130%;
    margin-bottom: 20px;
}
.info__description {
    font-weight: 510;
    line-height: 160%;
}
.info__link {
    color: #08c;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.info__link:hover {
    color: #41a4df;
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .info {
        padding: 70px 0;
    }
    .info__item {
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .info {
        padding: 50px 0;
    }
    .info__top {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .info__img > img {
        width: 60px;
        height: 60px;
    }
    .info__title {
        font-size: 16px;
        line-height: 150%;
        color: #000;
        margin-bottom: 0;
    }
    .info__description {
        font-weight: 510;
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .info {
        padding: 30px 0;
    }
}

/*--------------------/info--------------------*/

/*--------------------program--------------------*/
.program {
    padding: 120px 0;
    background: #08c;
}
.program__container {
}
.program__title {
    font-size: 27px;
    font-weight: 1000;
    line-height: 130%;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.program__description {
    font-weight: 510;
    line-height: 170%;
    color: #fff;
    margin-bottom: 60px;
}
.program__block:not(:last-child) {
    margin-bottom: 90px;
}
.program__block-badge {
    display: block;
    width: max-content;
    font-size: 11px;
    font-weight: 510;
    line-height: 170%;
    border-radius: 15px;
    background: #232531;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    color: #fff;
    margin-bottom: 20px;
}
.program__lessons {
    border-radius: 30px;
    background: #fff;
}
.program__lesson {
}
.lesson-program {
    padding: 30px 40px;
    position: relative;
}
.lesson-program:not(:last-child)::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    opacity: 0.1;
    background: #000;
}
.lesson-program__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}
.lesson-program__content {
}
.lesson-program__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 15px;
}
.lesson-program__count-lesson {
    position: relative;
    color: #a1a1a1;
}
.lesson-program__count-lesson:before {
    content: '•';
}
.lesson-program__author {
    line-height: 170%;
}
.lesson-program__link {
    color: #08c;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.lesson-program__link:hover {
    text-decoration: underline;
    color: #41a4df;
}
.lesson-program__show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 10, 25, 0.1);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.lesson-program__show-more:hover {
    transform: scale(1.01);
    background: rgba(8, 59, 134, 0.1);
}
.lesson-program__detail {
    margin-top: 30px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.lesson-program__detail.active {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
}
.lesson-program__detail-descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
}
.lesson-program__detail-descr:not(:last-child) {
    margin-bottom: 33px;
}
.lesson-program__detail-descr > span {
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
}
@media (max-width: 1024px) {
    .program {
        padding: 90px 0;
    }
}
@media (max-width: 768px) {
    .program {
        padding: 50px 0;
    }
    .program__block:not(:last-child) {
        margin-bottom: 50px;
    }
}
@media (max-width: 600px) {
    .program {
        padding: 30px 0 40px 0;
    }
    .program__block:not(:last-child) {
        margin-bottom: 20px;
    }
    .program__title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .program__description {
        margin-bottom: 20px;
    }
    .program__block-badge {
        font-size: 9px;
        padding: 5px 10px;
        margin-bottom: 15px;
    }
    .program__lessons {
        border-radius: 15px;
    }
    .lesson-program {
        padding: 20px 15px;
    }
    .lesson-program__title {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .lesson-program__count-lesson {
        display: block;
    }
    .lesson-program__detail {
        margin-top: 10px;
    }
    .lesson-program__count-lesson:before {
        display: none;
    }
    .lesson-program__author {
        font-size: 11px;
        line-height: 160%;
    }
    .lesson-program__show-more > img {
        width: 15px;
        height: 15px;
    }
    .lesson-program__detail-descr {
        font-size: 11px;
        font-weight: 400;
        line-height: 160%;
    }
    .lesson-program__detail-descr:not(:last-child) {
        margin-bottom: 15px;
    }
}
/*--------------------/program--------------------*/

/*--------------------education--------------------*/
.education {
    padding: 120px 0;
}
.education__title {
    font-size: 27px;
    font-weight: 1000;
    line-height: 130%;
    text-align: center;
    margin-bottom: 60px;
}
.education__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
    justify-content: center;
    margin-bottom: 60px;
}
.item-education {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
}
.item-education__img {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}
.item-education__detail {
    display: block;
    text-align: center;
    font-size: 21px;
    line-height: 130%;
}
.education__info {
    color: #fff;
    padding: 30px 40px;
    font-size: 21px;
    font-weight: 510;
    line-height: 143%;
    text-align: center;
    border-radius: 45px;
    background: #08c;
}
@media (max-width: 1024px) {
    .education {
        padding: 90px 0;
    }
    .education__title {
        margin-bottom: 40px;
    }
}
@media (max-width: 768px) {
    .education__title {
        font-size: 22px;
    }
    .education {
        padding: 30px 0 40px 0;
    }
    .education__title {
        margin-bottom: 20px;
    }
    .item-education {
        width: 100%;
    }
    .item-education__img {
        margin-bottom: 10px;
    }
}
@media (max-width: 600px) {
    .education__title {
        font-size: 16px;
    }
    .item-education__detail {
        font-size: 14px;
        line-height: 130%;
    }
    .item-education__img {
        width: 125px;
        height: 125px;
    }
    .education__info {
        padding: 15px;
        font-size: 14px;
        line-height: 143%;
    }
    .program__description {
        font-size: 14px;
        margin-bottom: 30px;
    }
}
/*--------------------/education--------------------*/

/*--------------------result--------------------*/
.result {
    padding: 120px 0;
    background: #08c;
}
.result__container {
}
.result__title {
    font-size: 27px;
    font-weight: 1000;
    line-height: 130%;
    margin-bottom: 60px;
    text-align: center;
    color: #fff;
}
.card-result {
    padding: 60px 60px 90px 60px;
    border-radius: 45px;
    background: #232531;
}
.card-result__title {
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
    color: #fff;
    margin-bottom: 40px;
}
.card-result__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
    justify-content: center;
}
.card-result__info {
}
.card-result__info-title {
    position: relative;
    font-size: 24px;
    color: #fff;
    line-height: 130%;
    padding-bottom: 20px;
}
.card-result__info-title::before {
    content: '';
    bottom: 0;
    right: 0;
    opacity: 0.1;
    position: absolute;
    background: #f5f5f5;
    height: 1px;
    width: 100%;
}
.card-result__info-description {
    margin-top: 20px;
    line-height: 170%;
    color: #fff;
}
@media (max-width: 1024px) {
    .result {
        padding: 90px 0;
    }
    .card-result__body {
        gap: 30px;
    }
    .result__title {
        margin-bottom: 40px;
    }
    .card-result__title {
        font-size: 24px;
    }
    .card-result {
        border-radius: 35px;
        padding: 30px 40px 30px 40px;
    }
    .card-result__title {
        font-size: 35px;
    }
    .card-result__info-title {
        padding-bottom: 15px;
    }
    .card-result__info-description {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .result {
        padding: 60px 0;
    }
    .card-result__body {
        gap: 20px;
    }
    .result__title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .card-result {
        border-radius: 25px;
        padding: 20px 15px 20px 15px;
    }
    .card-result__title {
        font-size: 19px;
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    .result {
        padding: 30px 0;
    }
    .card-result__body {
        gap: 15px;
    }
    .result__title {
        font-size: 16px;
    }
    .card-result {
        border-radius: 15px;
    }
    .card-result__info-title {
        font-size: 14px;
        line-height: 130%;
        padding-bottom: 10px;
    }
    .card-result__info-description {
        font-size: 11px;
        margin-top: 10px;
    }
}

@media (max-width: 375px) {
    .card-result__body {
        display: block;
    }
    .card-result__info:not(:first-child) {
        margin-top: 10px;
    }
}
/*--------------------/result--------------------*/

/*--------------------course--------------------*/

.course {
    padding: 120px 0;
}
.course__container {
}
.course__inner {
    padding: 90px;
    width: 100%;
    border-radius: 1040px;
    background: #08c;
}
.course__title {
    font-size: 27px;
    font-weight: 1000;
    line-height: 130%;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.course__description {
    text-align: center;
    font-size: 18px;
    font-weight: 510;
    line-height: 130%;
    color: #fff;
    margin-bottom: 40px;
}
.course__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.course__input {
    max-width: 420px;
    width: 100%;
    border-radius: 30px;
    padding: 18px 30px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}
.course__input::placeholder {
    color: #fff;
}
.course__input-error {
    font-size: 14px;
    color: #e63636;
    margin-top: -10px;
}
.course__input:not(:last-child) {
    margin-bottom: 20px;
}
.course__submit {
    margin-top: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 760;
    border-radius: 5px;
    background: #232531;
    padding: 16px 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.course__submit:hover {
    transform: scale(1.01);
    background: #2b2d38;
}

@media (max-width: 1024px) {
    .course {
        padding: 90px 0;
    }
    .course__inner {
        padding: 80px;
    }
}

@media (max-width: 650px) {
    .course {
        margin: 120px 0 160px 0;
        position: relative;
        overflow-x: clip;
        height: 100%;
    }
    .course__inner {
        padding: 60px 21px 60px 21px;
        background: transparent;
        border-radius: 0;
    }
    .course__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 140%;
        background: #08c;
        border-radius: 50%;
    }
    .course__input {
        max-width: 335px;
    }
    .course__title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .course__description {
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 20px;
    }
    .course__input {
        padding: 11px 20px;
    }
    .course__submit {
        padding: 9px 15px;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 800;
    }
}

@media (max-width: 425px) {
    .course__title {
        font-size: 16px;
    }
}

@media (max-width: 370px) {
    .course__input {
        max-width: 300px;
    }
    .course__description {
        word-wrap: break-word;
    }
}

@media (max-width: 310px) {
    .course__input {
        max-width: 260px;
    }
}

/*--------------------/course--------------------*/

/*--------------------footer--------------------*/

.footer {
    padding-bottom: 120px;
}
.footer__container {
}
.footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}
.footer__item {
}
.footer__link {
    display: block;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
@media (min-width: 768px) {
    .footer__link:hover {
        color: #41a4df;
    }
}
.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .footer {
        padding-bottom: 90px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding-bottom: 60px;
    }
    .footer__container {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer__logo {
        margin-bottom: 40px;
    }
    .footer__list {
        gap: 20px;
    }
}

@media (max-width: 650px) {
    .footer {
        padding-bottom: 40px;
    }
    .footer__logo {
        margin-bottom: 20px;
    }
    .footer__list {
        gap: 15px;
    }
}
/*--------------------/footer--------------------*/
